<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1I_4kXrw71OiD7XvkdnHB-fWQ0ThT49Y</string>
	<key>GCM_SENDER_ID</key>
	<string>110230623618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.champions.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>champions-8ca9d</string>
	<key>STORAGE_BUCKET</key>
	<string>champions-8ca9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110230623618:ios:fafa60c6cf6a3c2494ab9b</string>
</dict>
</plist>